html {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.App {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

:root {
    --first-color: black;
    --second-color: white;
}

.navbar{
    width: 100vw;
    height: 7vh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--second-color);
    color: var(--first-color);
    

    .logo {
        font-weight: bold;
    }
    .container {
        background-color: var(--second-color);
        display: flex;

    }
    .nav-menu {
        display: flex;
        align-items: center;
        gap: 3rem;
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.home {
    background-image: url("/Users/matthewchristiansusanto/Desktop/React/SmartVillage/smart_village/src/images/gambar desa evan.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    .title {
        font-size: 200px;
        color: var(--second-color);
    }

    .subtitle {
        color: var(--second-color);
    }

}

